.addItem {
  list-style-type: none;
}

.addItemButton {
  color: #f5f5f5;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 1.5rem;
  margin-top: 1rem;
  padding-bottom: 0.25rem;
}

.addSubItem {
  list-style-type: none;
}

.addSubItemButton {
  color: #f5f5f5;
  background-color: #333;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.App {
  text-align: center;
}

.checkBox {
  margin-right: 0.5rem;
  background-color: black;
}

.checkList {
  border: 1px solid black;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
}

.checkLogo {
  /*   position: absolute; */
  width: 3rem;
  height: auto;
  /*   top: -3.25rem; */
  /*   left: 0; */
}

.firstItem {
  border-top: 0.25rem solid #d2b48c;
}

.logoDiv {
  width: 14rem;
  height: 4.5rem;
  background-color: white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border: 0.1rem solid black;
  text-align: center;
  margin-bottom: 0.5rem;
  box-sizing: border-box;
  /*   overflow: hidden; */
  /*   padding: 0; */
  /*   position: relative; */
}

/* .mainListItem {
} */

.nav-item {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  width: 14rem;
  height: 4.5rem;
  text-align: center;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.nav-item:nth-child(even) {
  background-color: #f5f5f5;
  color: #333;
}

.nav-item:nth-child(odd) {
  background-color: gray;
  color: white;
}

.sidebar {
  width: 15rem;
  height: 100vh;
  background-color: #d2b48c;
  padding: 1rem;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}
